/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

/*index page css start*/
h1 {
  font-family:'Note Sans', sans-serif;
  font-weight:400;
  font-size:30px;
}

h2 {
  font-size:20px;  
}

h3 {
  font-size:15px;  
}
.app-wrap {
  margin:0;
  padding:0;
  background-color:#e8e8e8;
}
.top-header {
  padding:20px 50px;
  display:block;
  background-color:#222;
}
.top-header h1 {
  cursor:pointer;
  color:#fff;
  line-height: 0.8;
  vertical-align: middle;
  display:inline-block;
}
.top-header form {
  display:inline-block;
  padding-left:20px;
}
.top-timeline {
  display:inline-block;
  float:right;
  padding-top:5px;
}
.top-timeline span {
  color:#aaa;
  font-family:'Note Sans', sans-serif;
  font-weight:400;
  font-size:18px;
  display:inline-block;
}
.top-timeline p {
  color:#aaa;
  font-family:'Note Sans', sans-serif;
  font-weight:400;
  font-size:18px;
  display:inline-block;
  padding-left: 15px;
}
.input-search {
  color:#aaa;
  padding:8px 50px 8px 20px;
  border:1px solid #333; 
  border-radius:20px;
  box-shadow:inset 1px 1px 3px #000;
  background-color:#1d1d1d;
}
.input-submit {
  cursor:pointer;
  color:#aaa;
  padding:7px 20px;
  margin-left: 10px;
  border:1px solid #333; 
  border-radius:20px;
  background-color:#333;
}
.footer-wrap {
  padding:20px;
  display:block;
  text-align:center;
  background-color:#c3c3c3;
  float:bottom;
}


/*google map style css*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
.map-wrap {
  min-height:800px;
  margin:50px;
  border:1px solid #909090;
  border-radius:2px;
  box-shadow:6px 8px 15px #c3c3c3;
  background-color:#fff;
}